$break-point: 600px;

@mixin flexDisp {
    display: flex;
    justify-content: space-around;
    margin: 100px  auto;
   
}

.authenticate-conatiner {
    max-width: 70%;
    @include flexDisp;
}

@media (max-width:$break-point) {
    .authenticate-conatiner {
        @include flexDisp;
        max-width: 90%;
        flex-direction: column;
       }
}