*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

a{
  text-decoration: none;
  color: black;
font-size: 1.5em;
}
a.nav-link:hover{
  color: gray;
}
